html {
  background-color: #CCC;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  
  20% {
    transform: rotate(-25deg);
  }
  
  40% {
    transform: rotate(10deg);
  }
  
  60% {
   transform: rotate(-25deg);
  }
  
  80% {
    transform: rotate(10deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}


.section {
  width: 100%;
  padding: 20px;
}

.section-inner {
  width: 1200px;
  margin: 0 auto;
}

.url-analyzer {
  background-color: #ffe74e;
  color: #000;
}


.language-analyzer {
  background-color: #ff5964;
  color: #000;
}

.another-section {
background-color: #37a8ff;
}

.header {
  text-align: center;
  background-color: #64CEAA;
  height: 150px;
  padding: 20px;
  color: white;
}

.url-input {
  width: 60%;
  height: 50px;
  margin: 30px auto;
  padding: 5px 20px;
  font-size: 26px;
  display: block;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #EEE;

  color: #FFF;

}

.url-input:focus {
  outline-color: #FFF;
}

.url-input-submit {
}

.invalid-url {
  padding: 50px;
  color: red;
}

.no-bullets {
  list-style: none;
}

.code {
  font-family: Courier;
}

.js-location-parts {
  text-align: left;
  margin: 0 auto;
}
